<h3>条件get请求: 传对象</h3>

<div>
  <div class="card">
    <h5>作者信息</h5>
    <div class="card-body">
      <p>id: <%= @author.id %></p>
      <p>name: <%= @author.name %></p>
      <p>age: <%= @author.age %></p>
    </div>
  </div>
  <p>增加内容</p>
</div>